<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">

    <h1>Pick a story to go through.</h1>

    <h2>Loop</h2>
    <ul>
    	<% titles.forEach(function(title) { %>
    		<li><%= title.title %></li>
    	<% }); %>
    </ul>


</body>
</html>