h1 {
  text-align: center;
}

body {
  background-image: url("pics/storeMap.png");
  background-size: 1500px 700px;
}

#path1{
  position: absolute;
  top:640px;
  left:380px;
}

#path2{
  position: absolute;
  top:640px;
  left:380px;
}

#path3{
  position: absolute;
  top:640px;
  left:380px;
}

#path4{
  position: absolute;
  top:640px;
  left:380px;
}

#path5{
  position: absolute;
  top:640px;
  left:380px;
}

#path6{
  position: absolute;
  top:640px;
  left:380px;
}

#path7{
  position: absolute;
  top:640px;
  left:380px;
}

#path8{
  position: absolute;
  top:640px;
  left:380px;
}

#path9{
  position: absolute;
  top:640px;
  left:380px;
}

#path10{
  position: absolute;
  top:640px;
  left:380px;
}
