h1 {
  text-align: center;
}

body {
  background-image: url("pics/storeMap.png");
  background-size: 1500px 700px;
}

#dialog{
  position:absolute;
  background-color: white;
  top: 700px;
  left: 700px;
}

#path1{
  position: absolute;
  top:640px;
  left:380px;
}

#path2{
  position: absolute;
  top:520px;
  left:650px;
}

#path3{
  position: absolute;
  top:400px;
  left:650px;
}

#path4{
  position: absolute;
  top:290px;
  left:650px;
}

#path5{
  position: absolute;
  top:120px;
  left:650px;
}

#path6{
  position: absolute;
  top:600px;
  left:100px;
}

#path7{
  position: absolute;
  top:410px;
  left:845px;
}

#path8{
  position: absolute;
  top:290px;
  left:840px;
}

#path9{
  position: absolute;
  top:120px;
  left:840px;
}

#path10{
  position: absolute;
  top:640px;
  left:880px;
}
