h1 {
  text-align: center;
}

body {
  background-image: url("pics/storeMap.png");
  background-size: 1500px 700px;
}

#insert{
  visibility: hidden;
}

#path1{
  position: absolute;
  top:630px;
  left:360px;
}

#path2{
  position: absolute;
  top:500px;
  left:640px;
}

#path3{
  position: absolute;
  top:385px;
  left:640px;
}

#path4{
  position: absolute;
  top:270px;
  left:640px;
}

#path5{
  position: absolute;
  top:105px;
  left:640px;
}

#path6{
  position: absolute;
  top:590px;
  left:90px;
}

#path7{
  position: absolute;
  top:395px;
  left:845px;
}

#path8{
  position: absolute;
  top:270px;
  left:840px;
}

#path9{
  position: absolute;
  top:104px;
  left:840px;
}

#path10{
  position: absolute;
  top:615px;
  left:880px;
}

button {
    display: inline-block;
    border: none;
    padding: 0.5rem 0.8rem;
    margin: 0;
    text-decoration: none;
    background: #DDDDDD;
    color: #AAAAAA;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: black;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}