<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">

    <h1>Pick a story to go through.</h1>

    <a href = "http://localhost:5000/getMap">In place of options</a>
    
    <ul>
    <% titles.forEach(function(title) { %>
        <li><%= title.title %></li>
    <% }); %>
	</ul>
   
</body>
</html>