<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">
<main>
    <h1>Pick a story to go through.</h1>
    
    <ul>
    <% titles.forEach(function(title) { %>
        <a href = "./getMap?id=<%=title.id%>"><%= title.title %></a>
    <% }); %>
	</ul>
</main>
</body>
</html>