<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<main>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type ="text/javascript" src="../ajaxStuff.js"></script>
    <h1>Here is a placeholder for the map</h1>

    <p id = "path1">this will be replaced</p>
    <p id = "path2">this will be replaced</p>

    <div id="dialog" title="Encounter!">
    	<div id = "prompt">
    	<p id = "answer1"></p>
    	<p id = "answer2"></p>
    	<p id = "answer3"></p>
    	<div>
    </div>

    <button id="opener" value = "1">Open Dialog</button>


</main>
</body>
</html>