<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<main>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type ="text/javascript" src="../ajaxStuff.js"></script>
    <h1>Begin your adventure</h1>

    <div id="dialog" title="Encounter!">
    	<div id = "prompt">
    	<p id = "answer1"></p>
    	<p id = "answer2"></p>
    	<p id = "answer3"></p>
    	</div>
    </div>

    <button class="opener" id = "path1" value = "1" onclick = "fill()">Visit</button>
    <button class="opener" id = "path2" value = "2" onclick = "fill()">Visit</button>
    <button class="opener" id = "path3" value = "3" onclick = "fill()">Visit</button>
    <button class="opener" id = "path4" value = "4" onclick = "fill()">Visit</button>
    <button class="opener" id = "path5" value = "5" onclick = "fill()">Visit</button>
    <button class="opener" id = "path6" value = "6" onclick = "fill()">Visit</button>
    <button class="opener" id = "path7" value = "7" onclick = "fill()">Visit</button>
    <button class="opener" id = "path8" value = "8" onclick = "fill()">Visit</button>
    <button class="opener" id = "path9" value = "9" onclick = "fill()">Visit</button>
    <button class="opener" id = "path10" value = "10" onclick = "fill()">Visit</button>


</main>
</body>
</html>