<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">

	<script type ="text/javascript" src="../ajaxStuff.js"></script>

    <h1>Here is a placeholder for the map</h1>

    <button type="button" onclick = "addPath()">cool button</button>
    <p id = "path1">this will be replaced</p>

   
</body>
</html>